

{% block extrahead %}
{% load static %}
<link href="https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap" rel="stylesheet" type="text/css"/>
<script src="https://kit.fontawesome.com/96a6469be4.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="{% static 'dynamic.js' %}"></script>
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}




{% block head %}

<div class = "menu">
    
        <h1>Hotel sin nombre</h1>
        <ul class = "menu_link">
            <li><a href="{% url 'inicio' %}">Inicio</a></li>
            <li><a href="{% url 'mostrareserva' %}">Mis Reservas</a></li>

        </ul>
</div>


{% endblock %}

{% block content %}
{% endblock %}

